@using UserManagement.Client.Services.Authorization
<AuthorizeView>
    <Authorized>
        <MudText>Привет @(context.User.Identity!.Name)!</MudText>
        <span class="mx-2"></span>
        <MudButton StartIcon="@Icons.Filled.ExitToApp" Color="Color.Secondary" Variant="Variant.Filled" OnClick="LogoutAsync">Выход</MudButton>
    </Authorized>
    <NotAuthorized>
        <style>
            .mud-primary-text {
                color: white !important;
            }
        </style>
        <MudLink Href="Account/Login">Войти</MudLink>
        <span class="mx-2"></span>
        <MudLink Href="Account/Register">Регистрация</MudLink>
    </NotAuthorized>
</AuthorizeView>