@page "/management-users"
@attribute [Authorize]

<PageTitle>Панель управления пользователями</PageTitle>

<div class="container mt-12" style="text-align:center;">
    <MudImage Style="width:500px;" Src="https://c.tenor.com/AzEW3sXMqqYAAAAd/бэбра-харош.gif" />
</div>  